
.body{
    background-color: #2a5324;
}
/*Menu categorie*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Fine menu categorie*/

/*Navigation bar orizzontale*/
ul {                                /*Rimuoviamo gli elenchi puntati, i margini e l'imbottitura dall'elenco*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {                                /*Rimuoviamo le interruzioni di riga prima e dopo ogni elemento dell'elenco*/
    display: inline;
}
/*Fine navigation bar orizzontale*/

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


